<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alumno.user_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @alumno.course_id %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
