<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Publicaciones", posts_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Eventos", eventos_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", salita_path %>
    </li>
    <li class="nav-item active">
      <%= link_to "Ranking Profesores", rankings_path %>
    </li>
  </ul>
</div>
<br>

<div class="contenedor-tot">

<table class="table">
<thead>
  <tr>
    <th scope="col" class="c-text">Ranking</th>
    <th scope="col">Nombre Profesor</th>
    <th scope="col">Curso</th>
    <th scope="col" class="c-text">Votos</th>
  </tr>
</thead>
<tbody>
  <% @contador = 0 %>
    <% @profes.each do |profe| %>
      <tr>
        <% @contador = @contador+1%>
        <% if @contador == 1 %>
        <td class="primero c-text"><%=@contador%></td>
        <td class="primero"><%= User.find(profe.user_id).name + " " + User.find(profe.user_id).last_name %></td>
        <td class="primero"><%= Course.find(profe.course_id).name %></td>
        <td class="primero c-text">
          <%= link_to like_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_upvotes.size %></span>
          <% end %>
          ||
          <%= link_to unlike_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_downvotes.size %></span>
          <% end %>
        </td>

        <% elsif @contador == 2%>
        <td class="segundo c-text"><%=@contador%></td>
        <td class="segundo"><%= User.find(profe.user_id).name + " " + User.find(profe.user_id).last_name %></td>
        <td class="segundo"><%= Course.find(profe.course_id).name %></td>
        <td class="segundo c-text">
          <%= link_to like_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_upvotes.size %></span>
          <% end %>
          ||
          <%= link_to unlike_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_downvotes.size %></span>
          <% end %>
        </td>

        <% elsif @contador == 3%>
        <td class="tercero c-text"><%=@contador%></td>
        <td class="tercero"><%= User.find(profe.user_id).name + " " + User.find(profe.user_id).last_name %></td>
        <td class="tercero"><%= Course.find(profe.course_id).name %></td>
        <td class="tercero c-text">
          <%= link_to like_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_upvotes.size %></span>
          <% end %>
          ||
          <%= link_to unlike_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_downvotes.size %></span>
          <% end %>
        </td>

        <% else %>
        <td class="c-text"><%=@contador%></td>
        <td><%= User.find(profe.user_id).name + " " + User.find(profe.user_id).last_name %></td>
        <td><%= Course.find(profe.course_id).name %></td>
        <td class="c-text">
          <%= link_to like_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_upvotes.size %></span>
          <% end %>
          ||
          <%= link_to unlike_profesor_path(profe), class: "like", method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"> <%= profe.get_downvotes.size %></span>
          <% end %>
        </td>
        <% end %>

      </tr>

    <% end %>
</tbody>
</table>
</div>
