<h1>Editando Comentarios</h1>

<%=form_for([@post, @comment]) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :comment_content %>
  </div>

  <div class="field">
    <%= form.label :reputation %>
    <%= form.text_field :reputation, id: :comment_reputation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
