<p id="notice"><%= notice %></p>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Campus", campus_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", rooms_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Cursos", courses_path %>
    </li>
  </ul>
</div>
<div class="contenedor-tot">
<h1 class="titulo-izq">Campus</h1>


<tbody>
  <% @campus.each do |campu| %>
    <div class="contenedor-nombres-mensajes">
    <tr>
      <td><h3><%= campu.name %></h3></td>
      <td><%= campu.location %></td>
      <br>
      <td><%= link_to 'Editar', edit_campu_path(campu) %></td>  |
      <td><%= link_to 'Eliminar', campu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <br>
    </div>
    <br>
  <% end %>
</tbody>

<br>


<button class="button-crea"> <%= link_to "Crear Campus", new_campu_path %> </button>
</div>
