<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <div class="container">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Campus", campus_path %></li>
        <li><%= link_to "Salas de Estudio", rooms_path %></li>
        <li><%= link_to "Cursos", courses_path %></li>
        <% end %>
      </ul>
  </div>
</nav>

<h1>Campus</h1>


<tbody>
  <% @campus.each do |campu| %>
    <tr>
      <td><h3><%= campu.name %></h3></td>
      <td><%= campu.location %></td>
      <br>
      <td><%= link_to 'Editar', edit_campu_path(campu) %></td>  |
      <td><%= link_to 'Eliminar', campu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <br>
    <br>
  <% end %>
</tbody>

<br>



<button> <%= link_to "Crear Campus", new_campu_path %> </button>
