
<%= simple_form_for(@busco) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= select_tag(:course_id, options_for_select(@cursitos), :prompt => "Elige un Curso") %>
    <%= f.hidden_field :room_id, :value => @id_recibido  %>
    <%= f.hidden_field :user_id, :value => current_user.id  %>
    <%= f.input :limit %>
    <%= f.input :start %>
    <%= f.input :finish %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
