
<%= simple_form_for(@group_member) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <%= f.hidden_field :group_id, :value => @grupo_r %>

<div style="display: none">
  <%= @grupo_act = Group.find(@grupo_r) %>
  <%= @cant_actual = @grupo_act.calcular_miembros %>
  <%= @es_autor = @grupo_act.es_autor(current_user.id) %>

</div>



  <div class="form-inputs">
    <%= f.input_field :user_id, as: :hidden, value: current_user.id %>
  </div>


<div class="form-actions">
  <% if (@cant_actual < @grupo_act.capacity) && (not @es_autor) %>
          <%= f.submit "Unirse al Grupo" %>
  <% else %>
        <h4>No Puede Unirse: El grupo esta lleno, o usted ya forma parte del Grupo</h4>
        <button type="button" name="button"><%= link_to "Volver", eventos_path %></button>
  <% end %>
</div>

<% end %>
