<div class="contenedor-tot">

<h2 class="titulo-izq" >Solicitudes Generales</h2>
<br>

<% if current_user.rol == "administrador" %>
  <% SolAdmin.all.each do |solicitud| %>
    <div class="contenedor-nombres-mensajes">
    <div class="wrapper">
    <div class="block"><h4 class="separacion-arriba"><%= User.find(solicitud.user_id).name + " está solicitando ser Administrador" %></h4></div>
    <div class="block">
    <%= simple_form_for(@admin) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.hidden_field :user_id, :value => solicitud.user_id %>
      <div class="form-actions">
        <%= f.button :submit, 'Hacer Administrador' %>
      </div>
    <% end %>
    </div>
    <div class="">
      <a class="btn btn-info btn-lg boton-verde" href=<%=posts_path%> >
        <span class="glyphicon glyphicon-ok"></span>
      </a>

    </div>
    <div class="">
      <a class="btn btn-info btn-lg boton-rojo" href=<%=posts_path%> >
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    </div>
    </div>
    <br>
    <% end %>

    <% SolModerador.all.each do |solicitud| %>
      <div class="contenedor-nombres-mensajes">
      <div class="wrapper">
      <div class="block"><%= User.find(solicitud.user_id).name + " está solicitando ser Moderador" %></div>
      <div class="block">
      <%= simple_form_for(@moderador) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.hidden_field :user_id, :value => solicitud.user_id %>
        <div class="form-actions">
          <%= f.button :submit, 'Hacer Moderador' %>
        </div>
      <% end %>
      </div>
      </div>
      </div>
      <br>
      <% end %>
    <br>

<% elsif current_user.rol == "registrado" %>
    <%= simple_form_for(@solicitud_administrador) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="form-actions">
        <%= f.button :submit, "Solicitar ser Administrador", class: "button-solicitud"%>
      </div>
    <% end %>
    <br><br>
    <%= simple_form_for(@solicitud_moderador) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="form-actions">
        <%= f.button :submit, 'Solicitar ser Moderador', class: "button-solicitud" %>
      </div>
    <% end %>

<% elsif current_user.rol == "moderador" %>
    <%= simple_form_for(@solicitud_administrador) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <div class="form-actions">
        <%= f.button :submit, 'Solicitar ser Administrador', class: "button-solicitud" %>
      </div>
    <% end %>
<% end %>

</div>
