<p id="notice"><%= notice %></p>

<h1>Contenidos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contenidos.each do |contenido| %>
      <tr>
        <td><%= link_to 'Show', contenido %></td>
        <td><%= link_to 'Edit', edit_contenido_path(contenido) %></td>
        <td><%= link_to 'Destroy', contenido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contenido', new_contenido_path %>
