<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @group.course %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @group.capacity %>
</p>

<p>
  <strong>Start:</strong>
  <%= @group.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @group.finish %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
