<p id="notice"><%= notice %></p>






<h1>Eventos</h1>

<%= link_to 'New Ocupada', new_ocupada_path %>
<%= link_to 'New Busco', new_busco_path %>
<%= link_to 'New Ofrezco', new_ofrezco_path %>
<%= link_to 'New Group', new_group_path %>
