
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Publicaciones", posts_path %>
    </li>
    <li class="nav-item active">
      <%= link_to "Eventos", eventos_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", salita_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Ranking Profesores", rankings_path %>
    </li>
  </ul>
</div>

<div class="contenedor-tot">
<h1 class="titulo-izq">Eventos</h1>
<h3 class="titulo-izq">Eventos Salas Ocupadas</h3>

<table class="table">
<thead>
  <tr>
    <th scope="col">Sala</th>
    <th scope="col">Descripción</th>
    <th scope="col">Autor</th>
    <th scope="col">Fecha</th>
    <th scope="col">Hora Inicio</th>
    <th scope="col">Hora Término</th>
  </tr>
</thead>
<tbody>
    <% Ocupada.all.each do |ocupada| %>
      <tr>
        <td><%= Room.find(ocupada.room_id).name %></td>
        <td><%= link_to ocupada.description, ocupada%> </td>
        <td><%= User.find(ocupada.user_id).name + " " + User.find(ocupada.user_id).last_name %></td>
        <td><%= ocupada.start.strftime("%d/%m/%Y") %></td>
        <td><%= ocupada.start.strftime("%H:%M") %></td>
        <td><%= ocupada.finish.strftime("%H:%M") %></td>
      </tr>
    <% end %>
</tbody>
</table>

<br>
<h3 class="titulo-izq" >Eventos Busco Clases</h3>

<table class="table">
<thead>
  <tr>
    <th scope="col">Curso</th>
    <th scope="col">Sala</th>
    <th scope="col">Autor</th>
    <th scope="col">Fecha</th>
    <th scope="col">Hora Inicio</th>
    <th scope="col">Hora Término</th>
  </tr>
</thead>
<tbody>
    <% Busco.all.each do |busco| %>
      <tr>
        <td><%= link_to "Busco clases de: " + Course.find(busco.course_id).name, busco %></td>
        <td><%= Room.find(busco.room_id).name %></td>
        <td><%= User.find(busco.user_id).name + " " + User.find(busco.user_id).last_name %></td>
        <td><%= busco.start.strftime("%d/%m/%Y") %></td>
        <td><%= busco.start.strftime("%H:%M") %></td>
        <td><%= busco.finish.strftime("%H:%M") %></td>
      </tr>
    <% end %>
</tbody>
</table>

<br>
<h3 class="titulo-izq" >Eventos Ofrezco Clases</h3>

<table class="table">
<thead>
  <tr>
    <th scope="col">Curso</th>
    <th scope="col">Sala</th>
    <th scope="col">Autor</th>
    <th scope="col">Fecha</th>
    <th scope="col">Hora Inicio</th>
    <th scope="col">Hora Término</th>
  </tr>
</thead>
<tbody>
    <% Ofrezco.all.each do |ofrezco| %>
      <tr>
        <td><%= link_to "Ofrezco clases de: " + Course.find(ofrezco.course_id).name, ofrezco %></td>
        <td><%= Room.find(ofrezco.room_id).name %></td>
        <td><%= User.find(ofrezco.user_id).name + " " + User.find(ofrezco.user_id).last_name %></td>
        <td><%= ofrezco.start.strftime("%d/%m/%Y") %></td>
        <td><%= ofrezco.start.strftime("%H:%M") %></td>
        <td><%= ofrezco.finish.strftime("%H:%M") %></td>
      </tr>
    <% end %>
</tbody>
</table>

<br>
<h3 class="titulo-izq" >Eventos Grupos de Estudio</h3>

<table class="table">
<thead>
  <tr>
    <th scope="col">Curso</th>
    <th scope="col">Sala</th>
    <th scope="col">Autor</th>
    <th scope="col">Fecha</th>
    <th scope="col">Hora Inicio</th>
    <th scope="col">Hora Término</th>
  </tr>
</thead>
<tbody>
    <% Group.all.each do |group| %>
      <tr>
        <td><%= link_to "Estudio: " + Course.find(group.course_id).name, group %></td>
        <td><%= Room.find(group.room_id).name %></td>
        <td><%= User.find(group.user_id).name + " " + User.find(group.user_id).last_name %></td>
        <td><%= group.start.strftime("%d/%m/%Y") %></td>
        <td><%= group.start.strftime("%H:%M") %></td>
        <td><%= group.finish.strftime("%H:%M") %></td>
      </tr>
    <% end %>
</tbody>
</table>

</div>
