<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <div class="container">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Publicaciones", posts_path %></li>
        <li><%= link_to "Eventos", eventos_path %></li>
        <li><%= link_to "Salas de Estudio", salita_path %></li>
        <% end %>
      </ul>
  </div>
</nav>

<h1>Eventos</h1>
<h3>Eventos Salas Ocupadas</h3>
<tbody>
  <% Ocupada.all.each do |ocupada| %>
    <tr>
      <td><h4><%= link_to ocupada.description, ocupada %></h4></td>
      <td><%= ocupada.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <td>   ||   </td>
      <td><%= ocupada.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>
<h3>Eventos Busco Clases</h3>
<tbody>
  <% Busco.all.each do |busco| %>
    <tr>
      <td><h4><%= link_to busco.course, busco %></h4></td>
      <td><%= busco.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <td>   ||   </td>
      <td><%= busco.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>
<h3>Eventos Ofrezco Clases</h3>
<tbody>
  <% Ofrezco.all.each do |ofrezco| %>
    <tr>
      <td><h4><%= link_to ofrezco.course + "  ||  " + User.find(ofrezco.user_id).name + " " + User.find(ofrezco.user_id).last_name, ofrezco %></h4></td>
      <td><%= ofrezco.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <td>   ||   </td>
      <td><%= ofrezco.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>
<h3>Eventos Grupos de Estudio</h3>
<tbody>
  <% Group.all.each do |group| %>
    <tr>
      <td><h4><%= link_to group.course + "  ||  " + group.capacity.to_s + "p.", group %></h4></td>
      <td><%= group.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <td>   ||   </td>
      <td><%= group.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>
