<p id="notice"><%= notice %></p>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Publicaciones", posts_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Eventos", eventos_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", salita_path %>
    </li>
  </ul>
</div>

<h1>Eventos</h1>
<br><br>
<h3>Eventos Salas Ocupadas</h3>
<tbody>
  <% Ocupada.all.each do |ocupada| %>
    <tr>
      <h5> Descripción: <%= ocupada.description %> </h5>
      <h5>En la sala: <%= Room.find(ocupada.room_id).name %></h5>
      <h5> Fecha y hora del evento: <%= ocupada.start.strftime("%H:%M --- %d/%m/%Y") %> </h5>
      <h5> Término del Evento: <%= ocupada.finish.strftime("%H:%M --- %d/%m/%Y") %> </h5>
      <button type="button" name="button"><%= link_to "Ir al evento", ocupada %></button>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>
<h3>Eventos Busco Clases</h3>
<tbody>
  <% Busco.all.each do |busco| %>
    <tr>
      <h5> Busco clases particulares de <%= Course.find(busco.course_id).name %> </h5>
      <h5>En la sala: <%= Room.find(busco.room_id).name %></h5>
      <h5> Fecha y hora del evento: <%= busco.start.strftime("%H:%M --- %d/%m/%Y") %> </h5>
      <h5> Término del evento: <%= busco.finish.strftime("%H:%M --- %d/%m/%Y") %> </h5>
      <h5>Autor del evento: <%= User.find(busco.user_id).name + " " + User.find(busco.user_id).last_name %></h5>
      <button type="button" name="button"><%= link_to "Ir al evento", busco %></button>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>
<h3>Eventos Ofrezco Clases</h3>
<tbody>
  <% Ofrezco.all.each do |ofrezco| %>
    <tr>
      <h5> Ofrezco clases particulares de <%= Course.find(ofrezco.course_id).name %></h5>
      <h5>En la sala: <%= Room.find(ofrezco.room_id).name %></h5>
      <h5> Fecha y hora del evento: <%= ofrezco.start.strftime("%H:%M --- %d/%m/%Y") %> </h5>
      <h5> Término del evento: <%= ofrezco.finish.strftime("%H:%M --- %d/%m/%Y") %> </h5>
      <button type="button" name="button"><%= link_to "Ir al evento", ofrezco %></button>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>
<h3>Eventos Grupos de Estudio</h3>
<tbody>
  <% Group.all.each do |group| %>
    <tr>
      <h5> Grupo de estudio para <%= Course.find(group.course_id).name %> </h5>
      <h5>En la sala: <%= Room.find(group.room_id).name %></h5>
      <h5> Fecha y hora del evento: <%= group.start %> </h5>
      <h5> Término del Evento: <%= group.finish %> </h5>
      <h5>Autor del evento: <%= User.find(group.user_id).name + " " + User.find(group.user_id).last_name %></h5>
      <button type="button" name="button"><%= link_to "Ir al evento", group %></button>
      <p>-------------</p>
      <br>
    </tr>
  <% end %>
</tbody>
