
<%= simple_form_for(@ofrezco) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <b>Curso</b><br>
    <%= select_tag(:course_id, options_for_select(@cursitos), :prompt => "Elige un Curso") %>
    <br><br>
    <%= f.hidden_field :room_id, :value => @id_recibido  %>
    <%= f.hidden_field :user_id, :value => current_user.id  %>
    <b>Inicio Evento</b><br>
    <%= f.input :start, label: false %>
    <br>
    <b>Término Evento</b><br>
    <%= f.input :finish, label: false %>
    <br>
    <b>Precio</b><br>
    <%= f.input :precio, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Guardar", class: "button-crea" %>
  </div>
<% end %>
