<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @ofrezco.course %>
</p>

<p>
  <strong>Start:</strong>
  <%= @ofrezco.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @ofrezco.finish %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= User.find(@ofrezco.user_id).name + " " + User.find(@ofrezco.user_id).last_name%>
</p>

<%= link_to 'Atrás', eventos_path %> |
<% if @ofrezco.user_id == current_user.id or current_user.rol=="moderador" or current_user.rol=="administrador"%>
  <%= link_to 'Editar', edit_ofrezco_path(@ofrezco) %>
<% end %>
