
<div class="contenedor-tot">

<div class="contenedor-mensajeria" >
	<% @mensajes_del_chat.each do |msj| %>
		<% if msj.autor == current_user.id %>
			<div class="mensaje-derecha" >
			<%=  msj.contenido %>
			</div>
		<% else %>
			<div class="mensaje-izquierda">
			<%= msj.contenido + "\n" %>
		</div>
		<% end %>
		<br>
	<% end %>
</div>

<div class="contenedor-c-mensaje">
<br>
<%= simple_form_for(@nuevo_mensaje) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :autor, :value => current_user.id %>
    -$$$<%= @amigo %>$$$
    <%= f.hidden_field :receptor, :value => @amigo %>
    -$$$<%= @amigo %>$$$
    <%= f.hidden_field :chat_id, :value => @chat.id %>
    <%= f.hidden_field :existe, :value => 1 %>
<<<<<<< HEAD
    <br><br>
    #<%= @amigo %>#
    <%= f.input :titulo %>
    <%= f.input :contenido %>
=======
    <%= f.input :contenido, label: false%>
>>>>>>> css_final
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enviar Mensaje' %>
  </div>
<% end %>
</div>

<%= @chat.primero %>
<%= @chat.segundo %>

<%= link_to 'Back', chats_path %>

<<<<<<< HEAD
-#<%= @amigo.class %>#
=======
</div>
>>>>>>> css_final
