<p id="notice"><%= notice %></p>

<h1>Disponibilidads</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disponibilidads.each do |disponibilidad| %>
      <tr>
        <td><%= disponibilidad.room_id %></td>
        <td><%= link_to 'Show', disponibilidad %></td>
        <td><%= link_to 'Edit', edit_disponibilidad_path(disponibilidad) %></td>
        <td><%= link_to 'Destroy', disponibilidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disponibilidad', new_disponibilidad_path %>
