<p id="notice"><%= notice %></p>

<div class="auto" id="auto" style="display: none">
  <%= @yo_mismo = User.find(current_user.id) %>
  <%= @cursos_inscritos = Alumno.where(:user_id => current_user.id) %>
</div>


<h1>Mi Perfil</h1>
<h3>Cursos Registrados</h3>
<tbody>
  <% Alumno.all.each do |alumno| %>
    <tr>
      <% if alumno.user_id == current_user.id %>
        <td><h4><%= Course.find(alumno.course_id).initials + "  ---  " + Course.find(alumno.course_id).name %></h4></td>
      <% end %>
      <br>
    </tr>
  <% end %>


  <%= simple_form_for(@alumno) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="form-inputs">
      <%= f.select :course_id, options_for_select(@cursos_totales), :prompt => "Elige un Curso" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

  <div class="container">
    <ul class="nav nav-tabs">
  <li class="nav-item">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Eliminar un Curso Inscrito
       <span class="caret"></span>
     </a>
    <ul class="dropdown-menu" role="menu">
      <% @cursos_inscritos.each do |alumno| %>
      <li>
        <%= link_to Course.find(alumno.course_id).name, alumno, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
      <% end %>
    </ul>
  </li>
  </ul>
  </div>



</tbody>
<br>

<h3>Cursos Profesor Particular</h3>
<tbody>
  <% Ocupada.all.each do |ocupada| %>
    <tr>
      <td><h4><%= link_to ocupada.description, ocupada %></h4></td>
      <td><%= ocupada.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <td>   ||   </td>
      <td><%= ocupada.start.strftime("%H:%M --- %d/%m/%Y") %></td>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>
<br>

<br>

<%= link_to 'New Perfil', new_perfil_path %>
