
<div class="auto" id="auto" style="display: none">
  <%= @yo_mismo = User.find(current_user.id) %>
  <%= @cursos_inscritos = Alumno.where(:user_id => current_user.id) %>
</div>

<div class="contenedor-tot">
<h1 class="titulo-izq" >Mi Perfil</h1>
<h3 class="titulo-izq" >Cursos Registrados</h3>
<tbody>
  <% Alumno.all.each do |alumno| %>
    <tr>
      <% if alumno.user_id == current_user.id %>
        <div class="contenedor-nombres-mensajes">
        <td><h4><%= Course.find(alumno.course_id).initials + "  ---  " + Course.find(alumno.course_id).name %></h4></td>
        </div>
      <% end %>
      <br>
    </tr>
  <% end %>
<br>
<br>

  <div class="container">
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <%= simple_form_for(@alumno) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>

      <div class="form-inputs">
        <%= f.select(:course_id, options_for_select(@cursos_totales_no_alumno), {prompt: "Elige un Curso"}, {class: 'form-control dropdown-edit'}) %>
      </div>
  </li>


  <li class="nav-item">
    <div class="form-actions">
      <%= f.button :submit, "Ingresar Curso", class: "button-perfil" %>
    </div>
    <% end %>
  </li>


  <li class="nav-item">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Eliminar un Curso Inscrito como Alumno
       <span class="caret"></span>
     </a>
    <ul class="dropdown-menu" role="menu">
      <% @cursos_inscritos.each do |alumno| %>
      <li>
        <%= link_to Course.find(alumno.course_id).name, alumno, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
      <% end %>
    </ul>
  </li>
  </ul>
  </div>



</tbody>
<br>

<h3 class="titulo-izq" >Cursos Profesor Particular</h3>
<tbody>
  <% Profesor.all.each do |profe| %>
    <tr>
      <% if profe.user_id == current_user.id %>
        <div class="contenedor-nombres-mensajes">
        <td><h4><%= Course.find(profe.course_id).initials + "  ---  " + Course.find(profe.course_id).name %></h4></td>
        </div>
      <% end %>
      <br>
    </tr>
  <% end %>
<br>
<br>


<div class="container">
  <ul class="nav nav-tabs">
<li class="nav-item">
  <%= simple_form_for(@profesor) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="form-inputs">
      <%= f.select(:course_id, options_for_select(@cursos_totales_no_profe), {prompt: "Elige un Curso"}, {class: 'form-control dropdown-edit'}) %>
    </div>
</li>


<li class="nav-item">
  <div class="form-actions">
    <%= f.button :submit, class: "button-perfil" %>
  </div>
<% end %>
</li>

<li class="nav-item">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      Eliminar un Curso Inscrito como Profesor
     <span class="caret"></span>
   </a>
  <ul class="dropdown-menu" role="menu">
    <% @profe_inscritos.each do |profe| %>
    <li>
      <%= link_to Course.find(profe.course_id).name, profe, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
</li>
</ul>
</div>

<br><br>


<h3 class="titulo-izq" >Mis Eventos</h3>

  <% @mis_eventos.each do |evento| %>

    <tr>
      <% if evento.class.to_s == 'Busco' %>

        <div class="contenedor-nombres-mensajes">
        <h5> <%= evento.start.strftime("%d/%m/%Y") + " || " + evento.start.strftime("%H:%M") + " - " + evento.finish.strftime("%H:%M") %> </h5>
        <h4> <%= link_to "Busco clases particulares de: " + Course.find(evento.course_id).name, evento %> </h4>
        <h5> Sala: <%= Room.find(evento.room_id).name + "  ||  "%> Autor: <%= User.find(evento.user_id).name + " " + User.find(evento.user_id).last_name%></h5>
        </div>

      <% elsif evento.class.to_s == 'Ofrezco' %>

        <div class="contenedor-nombres-mensajes">
        <h5> <%= evento.start.strftime("%d/%m/%Y") + " || " + evento.start.strftime("%H:%M") + " - " + evento.finish.strftime("%H:%M") %> </h5>
        <h4> <%= link_to "Ofrezco clases particulares de: " + Course.find(evento.course_id).name, evento %></h4>
        <h5> Sala: <%= Room.find(evento.room_id).name %></h5>
        </div>

      <% elsif evento.class.to_s == "Group" %>

        <div class="contenedor-nombres-mensajes">
        <h5> <%= evento.start.strftime("%d/%m/%Y") + " || " + evento.start.strftime("%H:%M") + " - " + evento.finish.strftime("%H:%M") %> </h5>
        <h4> <%= link_to "Grupo de estudio para: " + Course.find(evento.course_id).name, evento %> </h4>
        <h5> Sala: <%= Room.find(evento.room_id).name + "  ||  "%> Autor: <%= User.find(evento.user_id).name + " " + User.find(evento.user_id).last_name%></h5>
        </div>

      <% elsif evento.class.to_s == "Ocupada" %>

        <div class="contenedor-nombres-mensajes">
        <h5> <%= evento.start.strftime("%d/%m/%Y") + " || " + evento.start.strftime("%H:%M") + " - " + evento.finish.strftime("%H:%M") %> </h5>
        <h4> <%= link_to evento.description, evento %> </h4>
        <h5> Sala: <%= Room.find(evento.room_id).name %></h5>
        </div>

      <% end %>
      <br>
    </tr>
  <% end %>
<br><br>


<h3 class="titulo-izq" >Mis Publicaciones Destacadas</h3>

  <% @mis_publicaciones.each do |pub| %>
    <tr>
      <div class="contenedor-nombres-mensajes">
      <h5><%= Post.find(pub.post_id).created_at.strftime("%d/%m/%Y") %></h5>
      <h4><%= link_to Post.find(pub.post_id).title, Post.find(pub.post_id) %></h4>
      <td><%= User.find(Post.find(pub.post_id).user_id).name + " " + User.find(Post.find(pub.post_id).user_id).last_name %></td>
      <td> | </td>
      <td><%= Post.find(pub.post_id).reputation %></td>
      <br><br>
      <button class="button-solicitud-2"><%= link_to 'Sacar de mis Destacados', pub, method: :delete, data: { confirm: '¿Estas Seguro?' } %></button>
      <br>
      </div>
    </tr>
  <% end %>

  <br><br>


  </div>
