
<%= simple_form_for(@ocupada) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :room_id, :value => @id_recibido  %>
    <%= f.hidden_field :user_id, :value => current_user.id  %>
    <b>Descripción</b><br>
    <%= f.input :description, label: false %>
    <b>Inicio Evento</b><br>
    <%= f.input :start, label: false %>
    <b>Término Evento</b><br>
    <%= f.input :finish, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Guardar", class: "button-crea" %>
  </div>
<% end %>
