<p id="notice"><%= notice %></p>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Campus", campus_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", rooms_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Cursos", courses_path %>
    </li>
  </ul>
</div>
<div class="contenedor-tot">
<h1 class="titulo-izq">Salas de Estudio</h1>

<tbody>
  <% @rooms.each do |room| %>
    <div class="contenedor-nombres-mensajes">
    <tr>
      <td><h3><%= room.name %></h3></td>
      <td><%= room.location %></td> ||
      <td><%= "P1: " + room.disponibility.to_s %></td>  |
      <td><%= "P2: " + room.noise.to_s %></td>  |
      <td><%= "P3: " + room.plugs.to_s %></td>
      <br>
      <td><%= link_to 'Editar', edit_room_path(room) %></td>  |
      <td><%= link_to 'Eliminar', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <br>
    </tr>
    </div>
    <br>
  <% end %>
</tbody>

<br>

<button class="button-crea"><%= link_to 'Crear Sala', new_room_path %></button>
</div>
