<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Disponibility:</strong>
  <%= @room.disponibility %>
</p>

<p>
  <strong>Noise:</strong>
  <%= @room.noise %>
</p>

<p>
  <strong>Plugs:</strong>
  <%= @room.plugs %>
</p>



<div class="container">
  <button>
    <%= link_to 'Crear Grupo de Estudio', new_group_path(:room_id  => @room.id) %>
  </button>

  <button>
    <%= link_to 'Pedir Clases Particulares', new_busco_path(:room_id  => @room.id) %>
  </button>


  <button>
    <%= link_to 'Ofrecer Clases Particulares', new_ofrezco_path(:room_id  => @room.id) %>
  </button>

  <button>
    <%= link_to 'Evento Sala Ocupada', new_ocupada_path(:room_id  => @room.id) %>
  </button>
</div>



<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
