<p id="notice"><%= notice %></p>

<h2>
  <%= @room.name %>
</h2>

<p>
  <strong>Ubicación:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @room.disponibility %>
</p>

<p>
  <strong>Ruido:</strong>
  <%= @room.noise %>
</p>

<p>
  <strong>Enchufes:</strong>
  <%= @room.plugs %>
</p>



<div class="container">
  <button>
    <%= link_to 'Crear Grupo de Estudio', new_group_path(:room_id  => @room.id) %>
  </button>

  <button>
    <%= link_to 'Pedir Clases Particulares', new_busco_path(:room_id  => @room.id) %>
  </button>


  <button>
    <%= link_to 'Ofrecer Clases Particulares', new_ofrezco_path(:room_id  => @room.id) %>
  </button>

  <button>
    <%= link_to 'Evento Sala Ocupada', new_ocupada_path(:room_id  => @room.id) %>
  </button>
</div>

<br>

<button>
  <%= link_to 'Volver', salita_path %>
</button>
