<p id="notice"><%= notice %></p>


<div class="contenedor-tot">
<h2 class="titulo-izq">
  <%= @room.name %>
</h2>

<p>
  <strong>Ubicación:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @room.disponibility %>
</p>

<p>
  <strong>Ruido:</strong>
  <%= @room.noise %>
</p>

<p>
  <strong>Enchufes:</strong>
  <%= @room.plugs %>
</p>
<br>
<div class="container">
  Votar Disponibilidad
  <%= link_to like_disponibilidad_path(@mi_ev_disp), class: "like", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
  <span class="badge"> <%= @mi_ev_disp.get_upvotes.size %></span>
  <% end %>
  --
  <%= link_to unlike_disponibilidad_path(@mi_ev_disp), class: "like", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
  <span class="badge"> <%= @mi_ev_disp.get_downvotes.size %></span>
  <% end %>
</div>
<br>
<div class="container">
  Votar Ruido
  <%= link_to like_ruido_path(@mi_ev_ruido), class: "like", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
  <span class="badge"> <%= @mi_ev_ruido.get_upvotes.size %></span>
  <% end %>
  --
  <%= link_to unlike_ruido_path(@mi_ev_ruido), class: "like", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
  <span class="badge"> <%= @mi_ev_ruido.get_downvotes.size %></span>
  <% end %>
</div>
<br>
<div class="container">
  Votar Enchufes
  <%= link_to like_enchufe_path(@mi_ev_enchufe), class: "like", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
  <span class="badge"> <%= @mi_ev_enchufe.get_upvotes.size %></span>
  <% end %>
  --
  <%= link_to unlike_enchufe_path(@mi_ev_enchufe), class: "like", method: :put do %>
  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
  <span class="badge"> <%= @mi_ev_enchufe.get_downvotes.size %></span>
  <% end %>
</div>

<br><br>


<div class="container">
  <button class="button-crea">
    <%= link_to 'Crear Grupo de Estudio', new_group_path(:room_id  => @room.id)%>
  </button>

  <button class="button-crea">
    <%= link_to 'Pedir Clases Particulares', new_busco_path(:room_id  => @room.id) %>
  </button>


  <button class="button-crea">
    <%= link_to 'Ofrecer Clases Particulares', new_ofrezco_path(:room_id  => @room.id) %>
  </button>

  <button class="button-crea">
    <%= link_to 'Evento Sala Ocupada', new_ocupada_path(:room_id  => @room.id) %>
  </button>
</div>

<br>

  <%= link_to 'Volver', salita_path, class: "boton-menor" %>
</div>
