<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <div class="container">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Campus", campus_path %></li>
        <li><%= link_to "Salas de Estudio", rooms_path %></li>
        <li><%= link_to "Cursos", courses_path %></li>
        <% end %>
      </ul>
  </div>
</nav>

<h1>Cursos</h1>

<tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><h3><%= course.initials + "  ---  " + course.name %></h3></td>
      <td><%= link_to 'Editar', edit_course_path(course) %></td>  |
      <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <br>
      <br>
    </tr>
  <% end %>
</tbody>

<br>

<button><%= link_to 'Crear Curso', new_course_path %></button>
