
<%= simple_form_for(@mensaje) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <br><br>
    <%= f.hidden_field :autor, :value => current_user.id %>
    <%= f.hidden_field :existe, :value => 0 %>
    <%= select_tag(:receptor, options_for_select(@usuarios), :prompt => "Elige un Destinatario") %>
    <br><br>
    <%= f.input :titulo %>
    <%= f.input :contenido %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Enviar Mensaje' %>
  </div>
<% end %>
