<p id="notice"><%= notice %></p>

<h1>Mensajes Recibidos</h1>
<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Tema</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @mensajes_recibidos.each do |mensaje| %>
      <tr>
        <td><%= User.find(mensaje.autor).name + " " + User.find(mensaje.autor).last_name %></td>
        <td><%= mensaje.titulo %></td>
        <td><%= mensaje.contenido %></td>
        <td><%= link_to 'Show', mensaje %></td>
        <td><%= link_to 'Destroy', mensaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h1>Mensajes Enviados</h1>
<table>
  <thead>
    <tr>
      <th>Destinatario</th>
      <th>Tema</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @mensajes_enviados.each do |mensaje| %>
      <tr>
        <td><%= User.find(mensaje.receptor).name + " " + User.find(mensaje.receptor).last_name %></td>
        <td><%= mensaje.titulo %></td>
        <td><%= mensaje.contenido %></td>
        <td><%= link_to 'Show', mensaje %></td>
        <td><%= link_to 'Destroy', mensaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-outline-primary" name="button"><%= link_to 'Enviar Nuevo Mensaje', new_mensaje_path %></button>
