<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @mensaje.autor %>
</p>

<p>
  <strong>Receptor:</strong>
  <%= @mensaje.receptor %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @mensaje.contenido %>
</p>
<p>
  <strong>Chat:</strong>
  <%= @mensaje.chat_id %>
</p>

<%= @mensaje.chat_id %>|
<%= @mensaje.autor %>|
<%= @mensaje.receptor %>

<%= link_to 'Back', mensajes_path %>
