<p id="notice"><%= notice %></p>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Publicaciones", posts_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Eventos", eventos_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", salita_path %>
    </li>
  </ul>
</div>


<h1>Publicaciones</h1>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.created_at.strftime("%d/%m/%Y") %></td>
    <br>
    <td><h4><%= link_to post.title, post %></h4></td>
    <td>  <%= User.find(post.user_id).name + " " + User.find(post.user_id).last_name %></td>
    <td> | </td>
    <td><%= post.reputation %></td>
    <br>
    <br>
    <br>
  </tr>
<% end %>
<button> <%= link_to "Agregar Publicacion", new_post_path %> </button>
