<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <div class="container">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "Publicaciones", posts_path %></li>
        <li><%= link_to "Eventos", eventos_path %></li>
        <li><%= link_to "Salas de Estudio", "#" %></li>
        <% end %>
      </ul>
  </div>
</nav>

<h1>Publicaciones</h1>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.created_at.strftime("%d/%m/%Y") %></td>
    <br>
    <td><h4><%= link_to post.title, post %></h4></td>
    <td>  <%= User.find(post.user_id).name + " " + User.find(post.user_id).last_name %></td>
    <td> | </td>
    <td><%= post.reputation %></td>
    <br>
    <br>
    <br>
  </tr>
<% end %>
<button> <%= link_to "Agregar Publicacion", new_post_path %> </button>

<!--
<td> link_to 'Edit', edit_post_path(post) </td>
<td> link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } </td>
-->
<br>
