<p id="notice"><%= notice %></p>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Publicaciones", posts_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Eventos", eventos_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Salas de Estudio", salita_path %>
    </li>
    <li class="nav-item">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
         <% if params[:course] %>
          <% if params[:course] == "Mis Cursos" %>
            <%= "Mis Cursos" %>
          <% else %>
            <%= Course.find_by(name: params[:course]).name %>
          <% end %>
         <% else %>
          Curso
         <% end %>
         <span class="caret"></span>
       </a>
      <ul class="dropdown-menu" role="menu">
        <% @para_elegir.each do |curso| %>
        <li class="<%= 'active' if params[:course] == curso.name %>">
          <%= link_to curso.name, posts_path(course: curso.name), class: "link" %>
        </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<div class="contenedor-tot">

<h1 class="titulo-izq">Publicaciones</h1>

<% @publicaciones.each do |post| %>
  <div class="contenedor-nombres-mensajes">
  <tr>
    <td><%= post.created_at.strftime("%d/%m/%Y") %></td>
    <br>
    <td><h4><%= link_to post.title, post %></h4></td>
    <td>  <%= User.find(post.user_id).name + " " + User.find(post.user_id).last_name %></td>
    <td> | </td>
    <td><%= post.reputation %></td>
    <br>
  </tr>
  </div>
  <br>
<% end %>
<button type="button" class="button-crea"> <%= link_to "Agregar Publicacion", new_post_path %> </button>
</div>
