<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <h3><%= @post.content %></h3>
</p>

<p>
  <strong>Created at:</strong>
  <%= @post.created_at.strftime("%Y %m %d") %>
</p>

<p>
  <strong>Description:</strong>
  <h5><%= @post.description %></h5>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @post.reputation %>
</p>

<p>
  <strong>Author:</strong>
  <%= User.find(@post.user_id).name + " " + User.find(@post.user_id).last_name %>
</p>
<% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
    <%= link_to 'Editar', edit_post_path(@post) %> |
    <%= link_to 'Eliminar', post_path(@post), method: :delete, data: {confirm: "Estas Seguro?"} %> |
  <% end %>
<% end %>
<%= link_to 'Back', posts_path %>

<h1>Comentarios</h1>



  <div class="container">
    <%= @post.comments.each do |comment| %>
        <h3><%= comment.content %></h3>
        <h4><%= comment.created_at.strftime("%d / %m / %Y") %></h4>
        <h5><%= link_to 'Show', post_comment_path(@post, comment) %></h5>
        <% if user_signed_in? %>
          <% if comment.user_id == current_user.id %>
            <h5><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></h5>
            <h5><%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Está Seguro?' } %></h5>
          <% end %>
        <% end %>
    <% end %>
  </div>


<%= link_to 'Nuevo Comentario', new_post_comment_path(@post) %>
