  <!DOCTYPE html>
<html>
  <head>
    <title>G48</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">


      <div class="container">

        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li><%= link_to current_user.name + " " + current_user.last_name, posts_path, class: "navbar-brand" %></li>

          <% else %>
          <li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
          <li><%= link_to "Registrarse", new_user_registration_path %></li>

          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <% if current_user.rol == "administrador" %>
            <li><%= link_to "Contenido", campus_path %></li>
          <% end %>
          <li><%= link_to "Mi Perfil", "#" %></li>
          <li><%= link_to "Solicitudes", contenidos_path %></li>
          <li><%= link_to "Mensajeria", mensajes_path %></li>
          <li><%= link_to "Cerrar Sesion", destroy_user_session_path,
            method: :delete %></li>

          <% end %>

        </ul>
      </div>
    </nav>



    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->
    <%= yield %>
  </body>
</html>
